/* General styling for services section */
.hero-heading {
    
/* Base height for smaller screens */

width: 300px; 

height: 40px; 
object-fit: cover;
object-position: 50% 50%; 
}

@media (max-width: 767.98px) {
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    position: absolute;
    background: white; /* Change this if your navbar has a different background color */
    width: auto;
    top: 56px; /* Adjust this value if your navbar has a different height */
    left: 0;
    z-index: 1000;
    border-top: 1px solid #ddd; /* Optional: adds a border top for better visual separation */
  }
  .navbar-toggler.collapsed + .collapse {
    display: none !important;
  }
}
   
.services-section {
    padding: 80px 0;
    background-color: #f5f5f5; /* Adjust background color as needed */
  }
  
  .section-heading {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .section-description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  /* Styling for individual service items */
  .service-item {
    text-align: center;
    padding: 30px;
    border: 1px solid #ddd; /* Adjust border color as needed */
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .service-item i {
    font-size: 48px;
    color: #333; /* Adjust icon color as needed */
    margin-bottom: 20px;
  }
  
  .service-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .service-description {
    line-height: 1.5;
  }
  /* Styling for call-to-action buttons */
.cta-section {
    padding: 60px 0;
    background-color: #f8f9fa; /* Adjust background color as needed */
  }
  
  .cta-section .btn {
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0; /* Remove button border radius for a more modern look */
  }
  
  .btn-primary {
    background-color: #007bff; /* Indonesian flag blue */
    border-color: #007bff;
  }
  
  .btn-success {
    background-color: #28a745; /* Green for WhatsApp */
    border-color: #28a745;
  }
  
  .btn-lg {
    font-size: 18px; /* Adjust font size as needed */
  }

